<h1>Novo Termo de Compromisso de Estágio</h1>

<div>
  <h2>1 - Dados Gerais</h2><h5>2 - Horário de trabalho</h5><h5>3 - Atividades</h5>
</div>

<%= render 'form_tce_dados_gerais' %>

<%= link_to 'Back', tces_path %>
